*, *:before, *:after {
    box-sizing: inherit;
}


hmtl{
    box-sizing: border-box;
}

body{
    display: flex;
    font-family:monospace;
}

main{
    background-color: var(--marrow-000);
    padding: 0px 20px;
}

ul{
    border-bottom: solid;
}

li > a{
    font-size: 20px;
}

button{
    border-radius: 30px;
    padding: 7px;
}

span{
    color: var(--violet-300);
}

.b__contactme{
    background-color: var(--violet-300);
    border: none;
    color: white;
}

.b__hireme{
    color: white;
    background-color: #B201FF;
    border: none;
    border: solid 2.5px;
    border-color: var(--violet-300);
}

.b__visitmy{
    background-color: whitesmoke;
    border: 2.5px solid;
    border-color: var(--violet-300);
}

.nav__item__content{
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__items{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.nav__items__two{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0px 15px 0px 0px ;
}

li{
    margin: 0px 10px;
}